In [1]:
import os
import sys
import pandas as pd

# Set the path to the directory containing the project
sys.path.append('D:\\Internship\\recsys\\db_handlers')

In [2]:
from db_handlers.user_movie_hbase_table_db_handler import (
    delete_all_hbase_tables,
    create_user_movie_ratings_table,
    drop_user_movie_ratings_table,
    reset_user_movie_ratings_table,
    store_user_movie_prediction,
    store_user_movie_predictions,
    get_user_movie_prediction,
    get_all_user_predictions,
    get_user_ids,
)

[LOG] Detected local environment, with Docker: [False]

In [3]:
# # Delete all existing hbase tables
# delete_all_hbase_tables()

In [4]:
# Create table
create_user_movie_ratings_table()

[LOG] Table 'user_movie_ratings' created successfully in [local] at URL: [localhost].

In [5]:
# Store a single user-movie prediction
store_user_movie_prediction(user_id=123, movie_id=456, rating=4.5)

[LOG] Stored rating 4.5 for user 123 and movie 456.

In [6]:
# Store multiple user-movie predictions in batch
predictions_df = pd.DataFrame([
    (123, 789, 3.5),
    (123, 456, 4.0),
    (125, 123, 5.0)
], columns=["userId", "movieId", "rating"])
store_user_movie_predictions(predictions_df)

[LOG] Stored 3 predictions successfully.

In [7]:
# Get a single user-movie prediction
prediction = get_user_movie_prediction(user_id=123, movie_id=456)
print(f"Prediction: {prediction}")

Prediction: 4.0

In [8]:
# Retrieve predictions for a specific user
user_predictions = get_all_user_predictions(user_id=123)
print("Retrieved predictions for user 123 as DataFrame:")
user_predictions

Retrieved predictions for user 123 as DataFrame:

   userId  movieId  rating
0     123      456     4.0
1     123      789     3.5

In [9]:
# Retrieve all user ids
user_ids = get_user_ids()
print(f"Retrieved user ids: {user_ids}")

Retrieved user ids: ['123', '125']

In [10]:
# Reset the table
reset_user_movie_ratings_table()

[LOG] Table 'user_movie_ratings' dropped.
[LOG] Table 'user_movie_ratings' created successfully in [local] at URL: [localhost].

In [11]:
# Drop the table
drop_user_movie_ratings_table()

[LOG] Table 'user_movie_ratings' dropped.