# ADMIN Control Pannel
This notebook contains operations for:
- Resetting user's databases
- Generating synthetic user data for test purposes
- ...

In [51]:
import sys
import os
from dotenv import load_dotenv

# Set the path to the directory containing the project
sys.path.append('D:\\Internship\\recsys\\movie_recommendation_system\\src')
sys.path.append('D:\\Internship\\recsys\\db_handlers')
sys.path.append('D:\\Internship\\recsys\\microservices')

# Load environment variables from .env file
load_dotenv()

# Set the base URL for the API
BASE_URL = "http://localhost:" + os.getenv("USER_MICROSERVICE_PORT")

In [52]:
from utils import *

from movie_recommender.data.tabular_dataset_handler import TabularDatasetHandler

from db_handlers.user_postgres_sql_db_handler import (
    reset_user_tables,
    store_new_user
)
from db_handlers.user_mongodb_nosql_db_handler import (
    reset_user_collections,
    store_user_movie_rating,
    store_user_preference,
)

## Clear user's databases

In [53]:
reset_user_tables()
reset_user_collections()

[LOG] Tables 'user_register' and 'user_model_lookup' reset successfully.
[LOG] Collections 'user_movie_ratings' and 'user_preferences' reset successfully.

## Check whether titles are present in 'movies_df'

In [54]:
# Retrieve the movies_df DataFrame
tdh_filepath = "D:\\Internship\\recsys\\data\\movielens_processed\\tdh_instance.pkl"
tdh = TabularDatasetHandler.load_class_instance(tdh_filepath)

In [55]:
# Get the movies_df DataFrame
movies_df = tdh.get_movies_df_deepcopy()

In [56]:
# Sample 10 random movies from the movies_df DataFrame
movies_df.sample(10)[["id", "original_title", "title", "year"]]

,id,original_title,title,year
24876,41077,Fehérlófia,Son of the White Mare,1981
13875,47104,زیر درختان زیتون,Through the Olive Trees,1994
41135,296344,Πολυτεχνίτης και Ερημοσπίτης,Politexnitis and Erimospitis,1963
31217,301368,Spilt Milk,Spilt Milk,2011
22572,255576,Yanco,Yanco,1961
11771,13067,In the Land of Women,In the Land of Women,2007
43936,111913,A2,A2,2001
17190,83345,La Mosquitera,The Mosquito Net,2010
3518,28973,A King in New York,A King in New York,1957
41846,318794,Vehshi Jatt,Vehshi Jatt,1975

In [57]:
# List of rated movies
movies_list = [
    {"title": "Top Gun", "rating": 5},
    {"title": "Titanic", "rating": 4.5},
    {"title": "Jumanji", "rating": 4.5},
    {"title": "Toy Story", "rating": 3.5},
    {"title": "Pulp Fiction", "rating": 2},
    # {"title": "Pirates of the Caribbean: The Curse of the Black Pearl", "rating": 4},
    # {"title": "The Lord of the Rings: The Fellowship of the Ring", "rating": 5},
    # {"title": "The Lord of the Rings: The Two Towers", "rating": 5},
    # {"title": "The Lord of the Rings: The Return of the King", "rating": 5},
    # {"title": "The Hobbit: An Unexpected Journey", "rating": 5},
    # {"title": "The Hobbit: The Desolation of Smaug", "rating": 5},
    # {"title": "The Hobbit: The Battle of the Five Armies", "rating": 5},
    # {"title": "The Notebook", "rating": 3.5},
    # {"title": "Mean Girls", "rating": 3.5},
    # {"title": "The Social Network", "rating": 4.5},
    # {"title": "Grease", "rating": 2},
    # {"title": "Rocky", "rating": 3.5},
    # {"title": "La La Land", "rating": 1.5},
    # {"title": "Dirty Dancing", "rating": 2.5},
]

In [58]:
# for movie in movies_list:
#     print(is_title_present(movies_df, movie["title"]))

## Generate user synthetic data (for tests purposes)

In [59]:
import uuid

# Create a new test user
user_id = "bdd62e39-8999-468b-be8a-c36277a93bdc" #str(uuid.uuid4())
user_name = "Christian Francesco"
user_surname = "Russo"
user_email = "rus.chr.20499@gmail.com"

# Store the new user in the PostgreSQL database
store_new_user(user_id, user_name, user_surname, user_email)

[LOG] Assigned new model ID 1000 to user bdd62e39-8999-468b-be8a-c36277a93bdc in 'user_model_lookup' table.
[LOG] New user bdd62e39-8999-468b-be8a-c36277a93bdc stored successfully in 'user_register' table

In [60]:
# Add the ratings to the user's profile
for movie in movies_list:
    store_user_movie_rating(
        user_id=user_id,
        movie_id=int(movies_df[movies_df["title"] == movie["title"]]["id"].values[0]),
        rating=movie["rating"]
    )

[LOG] New user rating stored successfully in 'user_movie_ratings' collection.
[LOG] New user rating stored successfully in 'user_movie_ratings' collection.
[LOG] New user rating stored successfully in 'user_movie_ratings' collection.
[LOG] New user rating stored successfully in 'user_movie_ratings' collection.
[LOG] New user rating stored successfully in 'user_movie_ratings' collection.